# ===============================
#   Gitignore by Joho
# ===============================
# Version   v0.4.2
# Author    Jonathan Ho <joho@joho.io>
# Created   17-May-2016
# Updated   13-Jul-2017
# Docs      http://git-scm.com/docs/gitignore
# ===============================




# -------------------------------
#   Node.js/npm/Bower
# -------------------------------

bower_components/
node_modules/
npm-debug.log

# -------------------------------




# -------------------------------
#   Project Files/Directories
# -------------------------------

README.html
TEMP.md

# -------------------------------




# -------------------------------
#   Build/Runtime/Logs
# -------------------------------

.idea/
.sass-cache/
.tmp/
coverage/
dist/
logs/
public/
release/

# -------------------------------




# -------------------------------
#   Database/Packages
# -------------------------------

*.7z
*.csv
*.dmg
*.gz
*.iso
*.jar
*.ldf
*.log
*.mdf
*.rar
*.sql
*.sqlite
*.tar
*.zip
sql/

# -------------------------------




# -------------------------------
#   Generated & Misc
# -------------------------------

*~
*.lnk
.DS_Store*
._*
*.sublime*
~*
.Spotlight-V100
.Trashes
ehthumbs.db
packages
ignore
Thumbs.db

# -------------------------------
