nav.navbar.navbar-fixed-top.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(
        href="https://github.com/loljoho/sartorial"
      )
        | Sartorial
    .collapse.navbar-collapse(
      id="bs-navbar-collapse"
    )
      ul.nav.navbar-nav
        li.active: a(ng-href="#") Home
        li: a(ng-href="#") About
        li: a(ng-href="#") Contact
      ul.nav.navbar-nav.navbar-right.site-navbar-text
        li: a
          | Application was created {{ vm.relativeDate }}.
